# Pandas

## What is Pandas?

**Python Data Analysis Library**

A powerful library for manipulating data arranged in formats like matricies and data frames. It's arguably the most popular Python library used for data analysis. Pandas aims to provide Python users the same type of functionality as the popular statistical language, **R**.

<br/>

![](https://d2h0cx97tjks2p.cloudfront.net/blogs/wp-content/uploads/sites/2/2019/04/Python-Pandas-Applications.jpg)

<br/>

### Why familiarize yourself with Pandas?

So far we've discussed building multidimensional objects like lists of lists and dictionaries of dictionaries from raw data. However, bioinformatics modules (and many others) will often **return** results in the form of Pandas **data frame** or **a matrix**. Further manipulation of these results will require some degree of Pandas operations.

For example, lets say you want to parse your RNA-seq results to a list of genes within a specific range of p-values and log fold changes, like "all p-values less than `1e-15` and log fold changes greater than `1.2`". You can apply your knowledge of Python operators such as `and, >, <` to subset a data frame based on the afformentioned parameters.

<br/>

## Types of data manipulated in Pandas

### Matrices

A matrix is an data structure where numbers are arranged into rows and columns. They will typically conatin floats __or__ integers, but not both. Matrices are used when you need to perform mathmatical operations between datasets that contain multiple dimensions.

<br/>

![](https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Gene_co-expression_network_construction_steps.png/720px-Gene_co-expression_network_construction_steps.png)

<br/>

### Data frames

A data frame is a table-like data structure and can cotain mixed data types (strings, floats, integers, etc.). This is the type of data structure you're used seeing in Excel.

<br/>

![](https://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0161567.t005&type=large)

<br/>

## Pandas has the ability to read in various data formats

- Open a local file using Pandas, usually a CSV file, but could also be a delimited text file (like TSV), Excel, etc

- Open a remote file or database like a CSV or a JSONon a website through a URL or read from a SQL table/database

<br/>

## A brief word on vectorization

**Operations in Pandas, like R, work most efficiently when vectorized**<br/>

<br/>

You can think of a vector (also reffered to as an [array](https://docs.python.org/3/library/array.html)) as a list that contains a single data type used. For matricies, this can be any row or column.

Rather that looping through individual values (scalars), we _apply_ operations to vectors. That is, the vector is treated as a single object. 

If you frequently work dataframes or matricies, please consider reading this 
[article](https://engineering.upside.com/a-beginners-guide-to-optimizing-pandas-code-for-speed-c09ef2c6a4d6) and this
[stackoverflow thread](https://stackoverflow.com/questions/35091979/why-is-vectorization-faster-in-general-than-loops) for a detailed explanation.

<br/>

<img src="https://miro.medium.com/max/2060/1*p4zjrqG97C4bFmOXU5UQog.png" width="80%" height="80%" />

<br/>

## Basic methods for data manipulation

### Reading in csv files and row/column slicing

"Slicing" refers to subsetting, or removing rows and columns from a data frame. Here we'll read in a data frame, look at the contents, and subset it by slicing out arbitrary regions.

<br/>

In [1]:
import pandas as pd

# Setting index_col to 0 tells us that the first column contains the row names
cell_attributes = pd.read_csv("./meta_data.csv", index_col = 0)

type(cell_attributes)

pandas.core.frame.DataFrame

In [2]:
# We notice rows and columns are truncated with the dimensions given the bottom
print(cell_attributes.head(25))

# Change the output view options
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

                       n_counts  n_genes  orig_ident  percent_mito  res_2  \
index
AAACCTGAGCACCGCT-1_1       1980      928           1      0.026781      1
AAACCTGCACATTCGA-1_2       2238      894           1      0.024150      6
AAACCTGCAGGGTTAG-1_3       2839     1025           1      0.005640      7
AAACCTGCATGCCTTC-1_4       3437     1438           1      0.012529     10
AAACCTGGTTGAACTC-1_5       2765     1277           1      0.010138      9
AAACCTGTCACCTTAT-1_6       2771     1144           1      0.019530      1
AAACGGGTCCACGTGG-1_8       5586     2022           1      0.006445      4
AAAGATGCAAGGACTG-1_9       1904      831           1      0.025223      2
AAAGATGCACGAAATA-1_10      1879      822           1      0.019702      4
AAAGATGCATCGATTG-1_11      1135      566           1      0.056537      1
AAAGATGGTACACCGC-1_12      1181      542           1      0.034716      3
AAAGATGGTCTTTCAT-1_13      2540      982           1      0.027964      3
AAAGCAAAGATGCCAG-1_14      3953     1414           1      0.013411      3
AAAGCAACACAGATTC-1_15      3206     1263           1      0.009054      8
AAAGCAACACGGCGTT-1_16      1355      563           1      0.056911     10
AAAGCAATCGTAGATC-1_18      1647      830           1      0.019465      0
AAAGTAGAGAATAGGG-1_19      1187      544           1      0.021922      2
AAAGTAGAGGTCATCT-1_20      4106     1527           1      0.017317     11
AAAGTAGGTAAGTGGC-1_21      1217      545           1      0.047658      0
AAAGTAGGTGCAGACA-1_22      3671     1326           1      0.045244      5
AAAGTAGTCACCACCT-1_23      6873     1876           1      0.018055      5
AAATGCCCACTGCCAG-1_24      1478      680           1      0.078751      5
AAATGCCGTATTCGTG-1_25      3129     1107           1      0.017589     13
AACACGTCAAGCGATG-1_26      1460      671           1      0.030864      7
AACACGTGTATCAGTC-1_27      2586     1150           1      0.006961      2

                       tree_ident  louvain  dpt_pseudotime
index
AAACCTGAGCACCGCT-1_1            7        0        0.353522
AAACCTGCACATTCGA-1_2            9        2        0.177180
AAACCTGCAGGGTTAG-1_3           14        8        0.000000
AAACCTGCATGCCTTC-1_4           12        1        0.103049
AAACCTGGTTGAACTC-1_5            6       10        0.259682
AAACCTGTCACCTTAT-1_6            7        0        0.316132
AAACGGGTCCACGTGG-1_8            3        9        0.341969
AAAGATGCAAGGACTG-1_9           13        1        0.114736
AAAGATGCACGAAATA-1_10           3        9        0.431574
AAAGATGCATCGATTG-1_11           7        0        0.247803
AAAGATGGTACACCGC-1_12           8        2        0.147456
AAAGATGGTCTTTCAT-1_13           8        6        0.073615
AAAGCAAAGATGCCAG-1_14           8        6        0.095377
AAAGCAACACAGATTC-1_15           5        7        0.558053
AAAGCAACACGGCGTT-1_16          12       13        0.126446
AAAGCAATCGTAGATC-1_18          11        4        0.046991
AAAGTAGAGAATAGGG-1_19          13        1        0.125822
AAAGTAGAGGTCATCT-1_20           2       11        0.438730
AAAGTAGGTAAGTGGC-1_21          11        4        0.062753
AAAGTAGGTGCAGACA-1_22           1        5        0.979432
AAAGTAGTCACCACCT-1_23           1        5        0.883077
AAATGCCCACTGCCAG-1_24           1        5        0.823691
AAATGCCGTATTCGTG-1_25           4        8        0.067783
AACACGTCAAGCGATG-1_26          14        8        0.021948
AACACGTGTATCAGTC-1_27          13        1        0.126628


<br/>

#### loc/iloc

Pandas has different methods for subsetting dataframes.
We'll dicuss the most common methods, **loc**, and **iloc**

loc allows us to subset data by row or column label. For example, if I would
like to subset the column 'n_counts', I would use the following command:

<br/>

In [3]:
# The comma separates rows and columns, and the colon returns all rows.
cell_attributes.loc[:,'n_counts']

index
AAACCTGAGCACCGCT-1_1       1980
AAACCTGCACATTCGA-1_2       2238
AAACCTGCAGGGTTAG-1_3       2839
AAACCTGCATGCCTTC-1_4       3437
AAACCTGGTTGAACTC-1_5       2765
AAACCTGTCACCTTAT-1_6       2771
AAACGGGTCCACGTGG-1_8       5586
AAAGATGCAAGGACTG-1_9       1904
AAAGATGCACGAAATA-1_10      1879
AAAGATGCATCGATTG-1_11      1135
AAAGATGGTACACCGC-1_12      1181
AAAGATGGTCTTTCAT-1_13      2540
AAAGCAAAGATGCCAG-1_14      3953
AAAGCAACACAGATTC-1_15      3206
AAAGCAACACGGCGTT-1_16      1355
AAAGCAATCGTAGATC-1_18      1647
AAAGTAGAGAATAGGG-1_19      1187
AAAGTAGAGGTCATCT-1_20      4106
AAAGTAGGTAAGTGGC-1_21      1217
AAAGTAGGTGCAGACA-1_22      3671
AAAGTAGTCACCACCT-1_23      6873
AAATGCCCACTGCCAG-1_24      1478
AAATGCCGTATTCGTG-1_25      3129
AACACGTCAAGCGATG-1_26      1460
AACACGTGTATCAGTC-1_27      2586
AACCATGTCACCCTCA-1_28      3823
AACCGCGAGTGTTGAA-1_29      1432
AACGTTGAGGTGCTTT-1_30      9787
AACGTTGCACGGTAAG-1_31      4425
AACGTTGGTTCGGCAC-1_32      4266
AACTCAGCACAGACAG-1_33      8168
AACTCAGGTAAGGGCT-1_34      1682
AACTCCCAGCGCTCCA-1_36      3447
AACTCCCTCGCGATCG-1_38      6047
AACTCTTAGTAGTGCG-1_39      3261
AACTCTTGTCTTCGTC-1_40      2720
AACTGGTCAGCCAGAA-1_42      4785
AACTGGTCAGGTCGTC-1_43      6532
AACTTTCGTTTACTCT-1_45      1160
AACTTTCTCAGAGCTT-1_46      3489
AACTTTCTCGTACCGG-1_47      1513
AAGACCTAGAATAGGG-1_48      8797
AAGACCTAGGAGCGAG-1_49      4993
AAGACCTCAGAGCCAA-1_50      6268
AAGCCGCAGCTTTGGT-1_51      5254
AAGCCGCAGGAGCGAG-1_52      5309
AAGCCGCCACATGGGA-1_53      1364
AAGCCGCGTTCGCTAA-1_55      4998
AAGGAGCAGCGAGAAA-1_56      3355
AAGGAGCCACCTCGGA-1_57      2034
AAGGAGCCATCGGAAG-1_58      3138
AAGGAGCTCGCTTAGA-1_60      1963
AAGGCAGCAGGCTCAC-1_61      2686
AAGGCAGGTAAGTGGC-1_62      2728
AAGGTTCAGCGTCTAT-1_64      1150
AAGGTTCGTTTGACAC-1_65      1591
AAGGTTCTCAACGAAA-1_66      3616
AAGGTTCTCAGCATGT-1_67      7724
AAGTCTGAGCAAATCA-1_69      1670
AAGTCTGCACCATCCT-1_70      5644
AATCCAGCACGAAATA-1_72      2192
AATCCAGTCACTCCTG-1_73      4648
AATCCAGTCCTTAATC-1_75     11090
AATCGGTAGCCAACAG-1_76      1178
AATCGGTCACAAGTAA-1_77      7445
AATCGGTGTAGAAGGA-1_78      3823
AATCGGTTCACTCCTG-1_79      4544
ACACCAAAGGTGACCA-1_80      3072
ACACCCTAGGCAATTA-1_81      4591
ACACCCTCAGTCACTA-1_82      1636
ACACCCTGTCTGATTG-1_83      6189
ACACCGGAGATCCCGC-1_84      2324
ACACCGGTCCTCTAGC-1_85      7108
ACAGCCGAGCCATCGC-1_86      1528
ACAGCCGAGCCTTGAT-1_87      2609
ACAGCCGCAACACGCC-1_88     10111
ACAGCCGCAGCGAACA-1_89      2673
ACAGCCGTCGGACAAG-1_90      2838
ACAGCTAAGATATGCA-1_91      3545
ACAGCTAAGCACGCCT-1_92      2503
ACAGCTAAGCTAAGAT-1_93      2563
ACAGCTAAGGATGCGT-1_94      1185
ACAGCTAGTAAGTGGC-1_95      1461
ACAGCTAGTGGTGTAG-1_96      3618
ACAGCTATCAATCTCT-1_97      1282
ACATACGCACCGATAT-1_98      1187
ACATACGTCGCTGATA-1_99      1166
ACATCAGCAAGGTTTC-1_100     5484
ACATCAGCATTTCACT-1_101     1211
ACATGGTAGCGTTTAC-1_103     2142
ACATGGTAGGAATGGA-1_104     2028
ACATGGTGTAAGGATT-1_105     1382
ACCAGTACATGCGCAC-1_106     1751
ACCAGTACATGGTCAT-1_107     5778
ACCAGTAGTTTGTGTG-1_108     1757
ACCCACTGTCTGGTCG-1_109     1219
ACCGTAAAGAACTGTA-1_110     3407
ACCGTAAAGTCCGTAT-1_111     2701
ACCTTTAAGAGTGACC-1_112     8181
ACCTTTAAGCTTTGGT-1_113     3775
Name: n_counts, dtype: int64

<br/>

iloc allows us to subset rows and colums by index number. This is useful if we want to subset multiple rows or columns without typing index names. Lets say we want to remove the columns with names 'orig_ident', 'res_2', and 'louvain'.

Lets take a look at the column names first and see if we can slice out the ones we'd like to keep.

<br/>

In [4]:
# Return column names
cell_attributes.columns.values
cell_attributes.columns.values[[0,1,3,5,7]]

array(['n_counts', 'n_genes', 'percent_mito', 'tree_ident',
       'dpt_pseudotime'], dtype=object)

<br/>

Now we can apply the same indexing pattern to our **iloc** method to return only the columns we're interested in. I've also included a few more slicing variations so you can get a feel for more complex slicing patterns.

<br/>

In [5]:
# Return columns 0, 1, 3, 5, and 7
cell_attributes.iloc[:,[0,1,3,5,7]].head(10)

# Return rows 1 through 5 and columns 0, 1, 3, 5, and 7
cell_attributes.iloc[:5,[0,1,3,5,7]].head(10)

# Return rows 1 through 5, columns 1 through 3, and column 7
cell_attributes.iloc[:5, 0:3 + 7].head(10)

,n_counts,n_genes,orig_ident,percent_mito,res_2,tree_ident,louvain,dpt_pseudotime
index,,,,,,,,
AAACCTGAGCACCGCT-1_1,1980,928,1,0.026781,1,7,0,0.353522
AAACCTGCACATTCGA-1_2,2238,894,1,0.024150,6,9,2,0.177180
AAACCTGCAGGGTTAG-1_3,2839,1025,1,0.005640,7,14,8,0.000000
AAACCTGCATGCCTTC-1_4,3437,1438,1,0.012529,10,12,1,0.103049
AAACCTGGTTGAACTC-1_5,2765,1277,1,0.010138,9,6,10,0.259682

<br/>

### Ordering dataframes by column values

Here we'll take look at ordering our data by a particular column value, or multiple column values.

<br/>

In [6]:
# Let's make a smaller dataset to work with
cell_df_sub = cell_attributes.iloc[:25,[0,1,3,5]]

# Set ascending=True to reverse the order
cell_df_sub.sort_values('n_counts', ascending=False)

# Sort by multiple columns in different directions
cell_df_sub.sort_values(by=['tree_ident', 'n_counts'], ascending=[True, False])

                       n_counts  n_genes  percent_mito  tree_ident
index
AAAGTAGTCACCACCT-1_23      6873     1876      0.018055           1
AAAGTAGGTGCAGACA-1_22      3671     1326      0.045244           1
AAATGCCCACTGCCAG-1_24      1478      680      0.078751           1
AAAGTAGAGGTCATCT-1_20      4106     1527      0.017317           2
AAACGGGTCCACGTGG-1_8       5586     2022      0.006445           3
AAAGATGCACGAAATA-1_10      1879      822      0.019702           3
AAATGCCGTATTCGTG-1_25      3129     1107      0.017589           4
AAAGCAACACAGATTC-1_15      3206     1263      0.009054           5
AAACCTGGTTGAACTC-1_5       2765     1277      0.010138           6
AAACCTGTCACCTTAT-1_6       2771     1144      0.019530           7
AAACCTGAGCACCGCT-1_1       1980      928      0.026781           7
AAAGATGCATCGATTG-1_11      1135      566      0.056537           7
AAAGCAAAGATGCCAG-1_14      3953     1414      0.013411           8
AAAGATGGTCTTTCAT-1_13      2540      982      0.027964           8
AAAGATGGTACACCGC-1_12      1181      542      0.034716           8
AAACCTGCACATTCGA-1_2       2238      894      0.024150           9
AAAGCAATCGTAGATC-1_18      1647      830      0.019465          11
AAAGTAGGTAAGTGGC-1_21      1217      545      0.047658          11
AAACCTGCATGCCTTC-1_4       3437     1438      0.012529          12
AAAGCAACACGGCGTT-1_16      1355      563      0.056911          12
AACACGTGTATCAGTC-1_27      2586     1150      0.006961          13
AAAGATGCAAGGACTG-1_9       1904      831      0.025223          13
AAAGTAGAGAATAGGG-1_19      1187      544      0.021922          13
AAACCTGCAGGGTTAG-1_3       2839     1025      0.005640          14
AACACGTCAAGCGATG-1_26      1460      671      0.030864          14

<br/>

### Subsetting data by condition

Understanding how to subset your data using conditional operations is very, _very_ useful. You'll often encounter situations where you want to filter your data on a certain set of parameters to reduce it to a more "meaningful" state (to make your PI happy).

<br/>

In [7]:
# Subsetting on a single condition
cell_df_sub.loc[(cell_df_sub['tree_ident'] == 1),]

                       n_counts  n_genes  percent_mito  tree_ident
index
AAAGTAGGTGCAGACA-1_22      3671     1326      0.045244           1
AAAGTAGTCACCACCT-1_23      6873     1876      0.018055           1
AAATGCCCACTGCCAG-1_24      1478      680      0.078751           1

<br/>

In the second example we're chaining together boolean operators to achieve results that satisfy multiple conditions. You can make these statments complex as you'd like.

Note: Pandas uses a pipe symbol to represent "or", and an ampersand symbol to represent "and". The backslashes in code simply allow us to break up our statement at arbitrary points for readbility.

<br/>

In [8]:
# Subsetting on multiple conditions.
cell_df_sub.loc[
    (cell_df_sub['tree_ident'] == 1) | \
    (cell_df_sub['tree_ident'] == 2) & \
    (cell_df_sub['n_genes'] > 1000),]

                       n_counts  n_genes  percent_mito  tree_ident
index
AAAGTAGAGGTCATCT-1_20      4106     1527      0.017317           2
AAAGTAGGTGCAGACA-1_22      3671     1326      0.045244           1
AAAGTAGTCACCACCT-1_23      6873     1876      0.018055           1
AAATGCCCACTGCCAG-1_24      1478      680      0.078751           1

<br/>

What's actually going on here? The rows in the data frame are actually subsetted on a vector of True/False statements. That is, for every condition that is True for all statements, a row will be returned. If remove the boonlean statements placed within cell_df_sub.loc[], you can see why this is occuring.

<br/>

In [9]:
cell_df_sub['tree_ident'] == 1 | \
    (cell_df_sub['tree_ident'] == 2) & \
    (cell_df_sub['n_genes'] > 1000)

index
AAACCTGAGCACCGCT-1_1     False
AAACCTGCACATTCGA-1_2     False
AAACCTGCAGGGTTAG-1_3     False
AAACCTGCATGCCTTC-1_4     False
AAACCTGGTTGAACTC-1_5     False
AAACCTGTCACCTTAT-1_6     False
AAACGGGTCCACGTGG-1_8     False
AAAGATGCAAGGACTG-1_9     False
AAAGATGCACGAAATA-1_10    False
AAAGATGCATCGATTG-1_11    False
AAAGATGGTACACCGC-1_12    False
AAAGATGGTCTTTCAT-1_13    False
AAAGCAAAGATGCCAG-1_14    False
AAAGCAACACAGATTC-1_15    False
AAAGCAACACGGCGTT-1_16    False
AAAGCAATCGTAGATC-1_18    False
AAAGTAGAGAATAGGG-1_19    False
AAAGTAGAGGTCATCT-1_20    False
AAAGTAGGTAAGTGGC-1_21    False
AAAGTAGGTGCAGACA-1_22     True
AAAGTAGTCACCACCT-1_23     True
AAATGCCCACTGCCAG-1_24     True
AAATGCCGTATTCGTG-1_25    False
AACACGTCAAGCGATG-1_26    False
AACACGTGTATCAGTC-1_27    False
dtype: bool